body{
	font-family: Didot;
}

header{
	background-size: cover;
	font-family: Didot;
	text-align: center;
	size: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

img{
	max-width: 100%;
	max-height: auto;
}

ul{
	list-style-type: none;
}

li{
	display: inline;
	padding: 10px;
}

@media screen and (max-width:320px){
	li{
		display: block;
	}
}
