header{
	background-color: black;
	background-size: cover;
	font-family: Didot;
	color: white;
}

img{
	max-width: 25%;
	max-height: auto;
	margin-left: 50px;
	margin-right: auto;
}

h1, body{
	font-family: Didot;
}

ul{
	list-style-type: none;
}

li{
	display: inline;
}
